/* --------------------------------------------- */
/* Formattage menu gauche                        */
/* --------------------------------------------- */
/* adds scrollbar to sidenav */
.wy-side-scroll {
  width: auto;
  overflow-y: auto;
}

ul {
  list-style: square;
}

/* --------------------------------------------- */
/* Formattage des figures (image + titre)        */
/* --------------------------------------------- */
.figurecentre{
  text-align: center;
}
.figurecentre > img{
  max-width: 95%;  
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}
.figurecentre > embed{
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}

/* --------------------------------------------- */
/* Formattage des lignes de commande             */
/* --------------------------------------------- */
div.cmdimg {
  padding:2px;
  margin: 0;
  margin-left: 1.5em;
  display:block;
  background-color:transparent;
  background-image:url('cmd.png');
  background-size:25px;
  background-repeat:no-repeat;
  background-position:left-center;
}
div.cmdimg > div.cmdline {
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  font-weight: bold;
  color: navy;
  text-align:left;
  padding:0;
  padding-left:0.5em;
  margin-left: 2.5em;
  margin-right:2.5em;
  margin-bottom: 24px;
  background-color:#F5F5F5;
  display:block;
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}
div.cmdimg > div.cmdline > p{
  line-height: none;
  margin-bottom: 0px;
}

/* --------------------------------------------- */
/* Formattage en bleu   */
/* --------------------------------------------- */
/* Bleu clair */
.blue{
    color: #1E90FF;
    color: #1E45FF;
    color: #005DB7;
}
/* Bleu foncé */
.boldblue{
    font-weight: bold;
    color: #004384;
}

