/* --------------------------------------------- */
/* Propriétés spécifiques : documentation pySPC  */
/* --------------------------------------------- */

/* id => #id {} */
/* h1 dans id => #id > h1 {} */
/* class => .class {} */
/* img dans class => .class > img {} */
.simple {
  list-style: square;
}

/* --------------------------------------------- */
/* Formattage de l'entête et du pied de page     */
/* --------------------------------------------- */
div.related{
    background-color: #1E90FF;
}

/* --------------------------------------------- */
/* Surlignage des classes, méthodes et fonctions */
/* --------------------------------------------- */
dl.class > dt{
    background-color: #D8DEE3;
}

dl.classmethod > dt{
    background-color: #F6F7F8;
}

dl.method > dt{
    background-color: #F6F7F8;
}

dl.function > dt{
    background-color: #D8DEE3;
}

/* --------------------------------------------- */
/* Formattage du logo                            */
/* --------------------------------------------- */
img.logo{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --------------------------------------------- */
/* Formattage des figures (image + titre)        */
/* --------------------------------------------- */
.caption-text {
  color:#004384;
  font-style: italic;
  font-weight: bold;
  font-size:125%;
}
.figurecentre{
  text-align: center;
}
.figurecentre > img{
  max-width: 95%;
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}
.figurecentre > embed{
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}

/* --------------------------------------------- */
/* Formattage des lignes de commande             */
/* --------------------------------------------- */
div.cmdimg {
  padding:2px;
  margin: 0;
  margin-left: 1.5em;
  display:block;
  background-color:transparent;
  background-image:url('cmd.png');
  background-size:25px;
  background-repeat:no-repeat;
  background-position:left-center;
}
div.cmdimg > div.cmdline {
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  font-weight: bold;
  color: navy;
  text-align:left;
  padding:0;
  padding-left:0.5em;
  margin-left: 2.5em;
  margin-right:2.5em;
  background-color:#F5F5F5;
  display:block;
  border-color:#E1E1E1;
  border-style:solid;
  border-width:2px;
}

/* --------------------------------------------- */
/* Formattage des modules / classes / mérhodes   */
/* --------------------------------------------- */
/* Lien méthode */
.linkmeth{
    color: #005DB7;
}
/* Lien classe */
.linkclass{
    font-weight: bold;
    color: #004384;
}

/* --------------------------------------------- */
/* Formattage des tableaux                       */
/* --------------------------------------------- */
/* Entête tableau */
th.head {
    font-weight: bold;
    color: #005DB7;
}
/* Titre du tableau */
table > caption  {
    margin-bottom: 25px;
}
